<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css?id=0.0.1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Exo:300" rel="stylesheet">
	<link rel="stylesheet" href="sweetalert2.min.css">
	<title>Image Loader</title>
</head>
<body>
	{{!-- <header>
		<nav>
			<ul>
				<li><a href="/">Albums</a></li>
				<li><a href="#">Account</a></li>
			</ul>
		</nav>
	</header> --}}
	{{{body}}}
</body>
<script src="/index.js?id=0.0.1"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</html>