<style>
    div{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.5rem;
        background-color: #0EADFF;
        margin: 0;
    }
    h1{
        background-color: transparent;
        color: #fff;
        text-align: center;
    }
</style>
<div>
    <h1>Sh%# happens!<br />404 Page Not Found</h1>
</div>